{
  "name": "io.enjin.platform-sdk",
  "version": "${VERSION}",
  "displayName": "Enjin Platform SDK",
  "description": "Open source SDK for connecting to and interacting with the Enjin Platform. Provides a strongly-typed GraphQL client over the v3 Platform API.",
  "unity": "2021.3",
  "documentationUrl": "https://github.com/enjin/platform-csharp-sdk",
  "changelogUrl": "https://github.com/enjin/platform-csharp-sdk/blob/master/CHANGELOG.md",
  "licensesUrl": "https://github.com/enjin/platform-csharp-sdk/blob/master/LICENSE",
  "keywords": [
    "enjin",
    "platform",
    "blockchain",
    "nft",
    "graphql"
  ],
  "author": {
    "name": "Enjin Pte. Ltd.",
    "url": "https://enjin.io/"
  },
  "dependencies": {
    "com.unity.nuget.newtonsoft-json": "3.2.1"
  }
}
